[Unit]
Description=uWSGI Authentication Server Emperor
After=syslog.target

[Service]
ExecStart=/usr/local/bin/uwsgi --ini /opt/eset/AuthenticationServer/uwsgi.ini
# Requires systemd version 211 or newer
RuntimeDirectory=authserver
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target